@import "custom";
@import "~bootstrap/scss/bootstrap";



/* Para Registro */
#body_registro{
    background-color: rgba(7, 159, 7, 0.603);
    display: flex;
    justify-content: center;
    
}
.container_form{
    font-size: 17px;
    
    
    border-radius: 10%;
    background-color: rgb(240, 245, 239);
}
.container_form input{
    border-color: rgb(14, 139,14 );
    

}
#obl{
    color: rgb(14, 139, 14);
}
.container_form button{

    background-color: rgb(14, 139, 14);
    border: rgb(14, 139, 14);
    margin-bottom: 30px;
    font-size: 20px;
    
}
.container_input{
    padding-left: 130px;
    justify-content: center;
    border-color: rgb(14, 139, 14);
}
#Inicio{
    border: solid rgb(14, 139, 14);
    margin-top: 60px ;
}

/* Fin Registro */

.navbar {
    height: 85px;
    margin-bottom: 5px;
    /* display: flex; */
}

.navbarSupportedContent{
    display: flex;
    justify-content: center;
    /* justify-content: center; */


}

#namePag{
    font-size: 50px;
    font-family:fantasy;
    /* justify-content: center; */
}

#btn_nav{

    height: 50px;
    width: 60px;
    border-radius: 50%;
    border: white;
    padding-top: 10px;
}

.material-icons{
    justify-content: center;
}


#carouselExample{
    display: flex;
    /* margin-bottom: 50px; */
}

.carousel-inner img{
    justify-content: center;
    height: 250px;
    /* width: 1024px; */
    width: 100%;
}

.container-fluid{
    background-color: rgb(255, 255, 255);
}

#cardbox{
    /* background-color: aqua; */
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
}


.card-img-top{
    height: 50%;
}

.me-9{
    margin-right: 270px;
}
