@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
/* Para Registro */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#registro_body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #DEE5E5; */
}

#registro_body label {
    color: #DEE5E5;

}

#registro_body h1 {
    color: #DEE5E5;

}

.obl {
    color: #A5D0A8;
}

.contenido {
    width: 460px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background-color: #110B11;

}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
    color: #DEE5E5;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

/* Fin Registro */


/* NavBar */

.navbar {
    height: 90px;
    margin-bottom: 5px;
}

.navbarSupportedContent {
    display: flex;
    justify-content: center;
}

#namePag {
    font-size: 50px;
    font-family: fantasy;
    color: #B0D59F;
    font-family: fantasy;
    /* justify-content: center; */
}

#btn_nav {
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border: white;
    padding-top: 10px;
}

.material-icons {
    justify-content: center;
}

.nav-item {
    color: #A5D0A8;
}

#dropM {
    width: 250px;
    height: 150px;
}

.carrito {
    margin-left: 70vh;
}

.navbar-nav {
    background-color: #212529;
}

#containerNav {
    background-color: #212529;
}

/* Fin NavBar */

/* Carrusel */

.slide {
    margin-top: 10px;
}

.slide img {
    height: 65vh;
}

/* Fin Carrusel */

/* .container-fluid {
    background-color: rgb(255, 255, 255);
}

#cardbox {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
} */


/* .card-img-top {
    height: 50%;
}  */

/* .me-9 {
    margin-right: 270px;
} */

/* Inicio de las card */

/* * {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
} */

/* html {
    font-size: 62.5%;
    overflow-x: hidden;
}  */


/* .containerCards {
    
    max-width:1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.product{
    width:400px;
}

.containerCards .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
} */

/* .containerCards .products-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}

.containerCards .products-container .product:hover {
    outline: .2rem solid #222;
    outline-offset: 0;
}

.containerCards .products-container .product img {
    height: 70%;
    width: 70%;
} */

/* .containerCards .products-container .product:hover img {
    transform: scale(.9);
}

.containerCards .products-container .product h3 {
    padding: .5rem 0;
    font-size: 25px;
    color: #444;
    
}

.containerCards .products-container .product:hover h3 {
    color: #27ae60;
}

.containerCards .products-container .product .price {
    font-size: 25px;
    color: #444;
} */

#cardb {
    margin-top: 100px;
}

.card {
    margin-bottom: 30px;
    border: none;
    /* border-radius; */
}

.card img {
    height: 350px;
}

/* Carrito */
.cart {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top:50px;
}

.cart-header {
    text-align: center;
    margin-bottom: 20px;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cart-item img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-details h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.cart-item-details p {
    margin: 0;
    margin-top: 5px;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-footer p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary {
    background-color: #212529;
    border-color: #9bbd8b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #9bbd8b;
    border-color: #69885b;
    color: #fff;
}