@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
/* Para Registro */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#registro_body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #DEE5E5; */
}

#registro_body label {
    color: #DEE5E5;

}

#registro_body h1 {
    color: #DEE5E5;

}

.obl {
    color: #A5D0A8;
}

.contenido {
    width: 460px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background-color: #110B11;

}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
    color: #DEE5E5;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

/* Fin Registro */
/* Inicio de sesion */
#body_inicioSesion {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #DEE5E5; */

}

#body_inicioSesion h1 {
    color: #DEE5E5;

}

#body_inicioSesion label {
    color: #DEE5E5;

}

#body_inicioSesion a:hover {
    text-decoration: none;
    color: #94a89a;

}

#body_inicioSesion a {
    text-decoration: none;
    color: white;

}


/* Fin inicio de sesion */

/* NavBar */

.navbar {
    height: 90px;
    margin-bottom: 5px;
    background-color: #212529;
}

.navbarSupportedContent {
    display: flex;
    justify-content: center;
}

#namePag {
    font-size: 50px;
    font-family: fantasy;
    color: #b0d59f;
    font-family: fantasy;
    /* justify-content: center; */
}

#btn_nav {
    height: 50px;
    width: 60px;
    border-radius: 50%;
    border: white;
    padding-top: 10px;
}

.material-icons {
    justify-content: center;
}

.nav-item {
    color: #A5D0A8;
}

#dropM {
    width: 250px;
    height: 150px;
}

.carrito {
    margin-left: 70vh;
}

.navbar-nav {
    background-color: #212529;
}

#containerNav {
    background-color: #212529;
}

/* Fin NavBar */

/* Carrusel */

.slide {
    margin-top: 10px;
}

.slide img {
    height: 79vh;
}

/* Fin Carrusel */



/* Inicio de las card */

#cardb {
    margin-top: 75px;
}

.card {
    margin-bottom: 30px;
    border: none;
}

.card img {
    height: 350px;
}

/* Carrito */
.cart {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 50px;
}

.cart-header {
    text-align: center;
    margin-bottom: 20px;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-item {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cart-item img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-details h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.cart-item-details p {
    margin: 0;
    margin-top: 5px;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-footer p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary {
    background-color: #212529;
    border-color: #9bbd8b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #9bbd8b;
    border-color: #69885b;
    color: #fff;
}

/* footer */
.footer {
    background-color: #212529;
    padding: 20px 0;
}

.text-white {
    color: #fff;
}

.footer-icons {
    text-align: right;
}

.cart-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

/* INCIO MI CUENTA */

.containerDeseos {
    margin-top: 0%;
    width: 960px;
}

.containerDeseos h2 {
    font-size: 60px;
}

.cards {
    transition: all 0.2s ease-in-out;
}

.cards:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #999;
}

.btns {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    margin-top: 0.5rem;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}

.cards-img-top {
    max-width: 250px;
    margin: 0 auto;
}


/* fin mi cuenta */
.footer-icon {
    display: inline-block;
    margin-left: 10px;
    color: #b39898;
}

.footer-icon:hover {
    color: #ffc107;
}

/* RELOJ */
#reloj {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    font-size: 40px;
    width: 10px;
    height: 70px;
}

/* Fin RELOJ */

/* DARK MODE */
[data-theme='light'] {
    --primary: #2a83d6;
    --background: #ffff;
    --text: #000;

    /* --navBackground: #fff; */
}

[data-theme='dark'] {
    --primary: #b0d59f;
    --background: #131619;
    --text: #fff;
    /* --navBackground: #fff; */
}

body {
    color: var(--text);
    background-color: var(--background);
}

/* #containerNav{
    background-color: var(--navBackground);
}

.navbar{
    background-color: var(--navBackground);
}

.navbar-nav {
    background-color: var(--navBackground);
} */

/* estilos del slider */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    border-radius: 12px;
}

.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b0d59f;
    border-radius: 12px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type="checkbox"]:checked+.slider {
    background-color: #426e2d;
    /* 426e2d */
}

input[type="checkbox"]:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* FIN DARK MODE */

/* API */
.weather{
    display: flex;
    justify-content:flex-start;
    list-style: none;
}

#ubicacion{
    font-size: 15px;
    padding-left: 82px;
}
#temperatura{
    font-size: 15px;
    padding-left: 20px;
}
/* FIN API */

/* Fomulario Jquery */
/* fin */